body{
    margin: 0;
    height: 100vh;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-container{
    color: aliceblue;
    display: flex;
    letter-spacing: 2px;
}

.timer-container span{
    position: relative;
    top: 5px;
    font-size: 4rem;
}

.timer-text{
    margin: 0;
    font-size: 5rem;

}